@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(201,198,198);
  background: linear-gradient(90deg, rgba(201,198,198,1) 0%, rgba(239,239,239,0.6979385504201681) 37%, rgba(224,223,223,0.675529586834734) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
